.fill-window {
    height: 100%;
    position: absolute;
    left: 0;
    width: 100%;
    overflow: hidden;
}

.homepage-bgimage {
    background: url('../../../assets/img/background_photo.png');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }